<%= include_javascript("jquery.dataTables.min.js") %>
<%= include_stylesheet("jquery.datatable.css") %>
<div class="actionsBar right no-print">
  
</div>
<hr/>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="receivable_accounts" width="100%">
	<thead>
		<tr>
			<th style="width: 10px;">St</th>
			<th><%= Accounting::PayableAccount.human_attribute_name("doc")%> </th>
			<th><%= Accounting::PayableAccount.human_attribute_name("date_doc")%> </th>
			<th><%= Accounting::PayableAccount.human_attribute_name("date_doc_expiration")%> </th>
			<th><%= Accounting::PayableAccount.human_attribute_name("total")%> </th>
			 <th><%= Accounting::PayableAccount.human_attribute_name("balance")%> </th>
		</tr>
	</thead>
	<tbody>
	 <% @payable_accounts.each do |payable_account| %>
	  <tr>
		  <td class="center" title="Vigente"><%= image_tag "icons/semaphore/#{payable_account.semaphore_time_to_expiration}.png" %></td>
		  <td class="center"><%= payable_account.doc.full_name %> </td>
		  <td class="center"><%= l payable_account.date_doc.to_date %> </td>
		  <td class="center"><%= l payable_account.date_doc_expiration.to_date %> </td>

		 
		  <td class="right"><%= number_to_currency(payable_account.total, :delimiter => ".", :separator => ",", :unit => "")%></td>
		  <td class="right"><%= number_to_currency(payable_account.balance, :delimiter => ".", :separator => ",", :unit => "")%></td>
	  </tr>
	  <% end %>
	</tbody>
</table>




<script type="text/javascript">
  var oTable;

  $(document).ready(function() {
		oTable =  $('#receivable_accounts').dataTable({
            oLanguage: {
                sUrl: "/javascripts/i18n/jquery.DataTables-es.txt"
            }
        });
  });
</script>
