<ul>
	 <li><a href="#Home"><%= link_to(image_tag("clients/#{PROJECT_NAME}/logos/isotipo2.png"),backend_cpanel_home_index_url())%> </a></li>
	 <li>
			 <a href="#">Procesos<span class="arrow"></span></a>

					<ul style='width: 200px;'>
						<li>Acreedores
						  <ul>
							 <li>
								<%= link_to "Listado",backend_financial_management_suppliers_url%>
							 </li>
							 <li>
								<%= link_to "Nuevo",new_backend_financial_management_supplier_url%>
							 </li>
						  </ul>
						</li>
						<li>Facturas de compras
						  <ul>
							 <li>
								<%= link_to "Listado",backend_financial_management_incoming_invoices_url%>
							 </li>
							 <li>
								<%= link_to "Nuevo",new_backend_financial_management_incoming_invoice_url%>
							 </li>
						  </ul>
						</li>
						<li><%= link_to "Cuentas por pagar",backend_financial_management_payable_accounts_url%></li>
						<li><%= link_to "Libro de compras",backend_financial_management_purchase_ledgers_url%></li>
						<li>Ordenes de pago
							 <ul>
								  <li>
									 <%= link_to "Listado",backend_financial_management_payment_orders_url%>
								  </li>
								  <li>
									 <%= link_to "Nuevo",new_backend_financial_management_payment_order_url%>
								  </li>
							 </ul>
						</li>
						<li>Programación de pagos
							 <ul>
								  <li>
									 <%= link_to "Listado",backend_financial_management_payment_schedules_url%>
								  </li>
								  <li>
									 <%= link_to "Nuevo",new_backend_financial_management_payment_schedule_url%>
								  </li>
							 </ul>
						</li>
						<li type='separator'></li>
						<li>Clientes
						  <ul>
							 <li>
								<%= link_to "Listado",backend_financial_management_clients_url%>
							 </li>
							 <li>
								<%= link_to "Nuevo",new_backend_financial_management_client_url%>
							 </li>
						  </ul>
						</li>
						<li>Facturas de ventas
						  <ul>
							 <li>
								<%= link_to "Listado",backend_financial_management_outgoing_invoices_url%>
							 </li>
							 <li>
								<%= link_to "Nuevo",new_backend_financial_management_outgoing_invoice_url%>
							 </li>
						  </ul>
						</li>
						<li><%= link_to "Cuentas por cobrar",backend_financial_management_receivable_accounts_url%></li>
						<li><%= link_to "Libro de ventas",backend_financial_management_sales_ledgers_url%></li>

				  </ul>
		</li>
		<%= yield :aditional_options_menunav  %>
		<li>
			 <a href="#">Configuración<span class="arrow"></span></a>
			 <ul style='width: 250px;'>
				<li>Contabilidad financiera
				  <ul style="width: 200px">
					 <li>Conceptos contables
						<ul>
							 <li>
								<%= link_to "Listado",backend_accountancy_accounting_concepts_url%>
							 </li>
							 <li>
								<%= link_to "Nuevo",new_backend_accountancy_accounting_concept_url,:class => "external-overlay", :rel=>".overlay"%>
							 </li>
						</ul>
					 </li>
					 <li>Cuentas contables
                                                <ul>
                                                    <li>
                                                           <%= link_to "Listado",backend_accountancy_accountant_accounts_url%>
                                                    </li>
                                                    <li>
                                                           <%= link_to "Nuevo",new_backend_accountancy_accountant_account_url,:class => "external-overlay", :rel=>".overlay"%>
                                                    </li>
						</ul>
                                         
                                         </li>
				  </ul>
				</li>
			 </ul>
		</li>
		<li>
			 <a href="#">Reportes<span class="arrow"></span></a>
			 <ul>
				<li>Cuentas por pagar
				  <ul>
					 <li>
						<%= link_to "Pagadas",backend_financial_management_payable_accounts_report_status_url(1)%>
					 </li>
					 <li>
						<%= link_to "Anuladas",backend_financial_management_payable_accounts_report_status_url(2)%>
					 </li>
					 <li>
						<%= link_to "Pendientes",backend_financial_management_payable_accounts_report_status_url(3)%>
					 </li>
				  </ul>

				</li>
				<li>Ventas
				  <ul>
					 <li><%= link_to "Por criterio",sales_by_criterion_backend_financial_management_sales_ledgers_url,:class => "external-overlay", :rel=>".overlay"%></li>
				  </ul>
				</li>
				<li>Entrada de facturas
				  <ul>
					 <li><%= link_to "Resumen",backend_financial_management_incoming_invoices_report_resume_url%></li>
				  </ul>
				</li>
				<li>Fiscales
				  <ul>
					 <li><%= link_to "Retenciones ISLR",report_islr_retentions_backend_financial_management_incoming_invoices_url,:class => "external-overlay", :rel=>".overlay"%></li>
                                         
				  </ul>
				</li>
			 </ul>
		</li>
		<li>
			 <a href="#">Ayuda<span class="arrow"></span></a>
			 <ul>
				 
			 </ul>
		</li>

</ul>