<div id="new_comment_form">
  <div class="headerWrap">
    <div class="headerWrapContent">
          <h2>Editar <%=  @finish_product_type.name %> </h2>
    </div>
  </div>
  <div class="mainWrapContent">
     <% form_layout do %>
        <% semantic_form_remote_for @finish_product_type, :url => backend_cpanel_finish_product_type_price_url(@finish_product_type) do |f| %>
          <% f.inputs do  %>
            <%= f.input :name %>
				<%= f.input :amount_t %>
				<%= f.input :amount_tr %>
          <% end %>
        <% end %>
      <% end %>
  </div>
  <div class="footerWrap">
    <div class="footerWrapContent right">
      <%= button_to_function("Actualizar", "$(\"#finish_product_type_prices_container form\").submit()")  %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){ // Script del Navegador
    $("button, input:submit,input:button,a.button ").button();
  });
</script>