<div id="" class="content_form">
    <% f.inputs "Datos generales" do %>
		<%= f.input :name,:label => false,:input_html  => {:class => "top",:placeholder => "Nombre del contrato"}%>
		<div class="subc c50l">
		  <% f.inputs do  %>
			 <%#= f.input :reference_code,:input_html => {} %>
			 <%= f.input :crm_account,:input_html => {} %>
			 <%= f.input :crm_apportunity_type,:input_html => {} %>
			 <li>&nbsp;</li>
			 <li>&nbsp;</li>
			 <li>&nbsp;</li>
			 <%= f.input :crm_lead_source,:input_html => {:class => "date"} %>
		<% end %>
		</div>
		<div class="subc c50r">
		  <% f.inputs do  %>
			 <%= f.input :crm_opportunity_status_type,:input_html => {} %>
			 <%= f.input :expected_revenue,:input_html => {:class => "amount"} %>
			 <%= f.input :date_close,:input_html => {:class => "date"} %>
			 <%= f.input :probability,:input_html => {:class => "date"} %>
		  <% end %>
		</div>
	 <% end %>

  <% f.inputs :class => "" do %>
  <%= f.input :description,:input_html => {} %>
	 <%= f.input :assigned_to,:input_html => {} %>
  <% end %>
  
  
</div>


<script type="text/javascript">
  			$(".date").datepicker({
          changeMonth: true,
          dateFormat: 'yy-mm-dd',
          maxDate: "-35",
			 yearRange: 'c-80:c+30'
        });
</script>