<%= include_javascript("jquery.dataTables.min.js") %>
<%= include_stylesheet("jquery.datatable.css") %>

<% content_for :aditional_options_menunav do %>
  <%= render  "#{controller.controller_path}/aditional_options_menunav/show" %>
<% end %>


<div class="actionsBar right no-print">
  <%= link_to(image_tag("icons/arrow_left.png"),backend_cashbank_bank_account_url(@checkbook.cash_bank_bank_account),:class => "button",:title => "Regresar") %>
</div>
<hr/>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="items" width="100%">
	<thead>
		<tr>
			<th><%= CashBank::CheckOffered.human_attribute_name("number")%> </th>
			 <th><%= CashBank::CheckOffered.human_attribute_name("cash_bank_bank")%> </th>
			<th><%= CashBank::CheckOffered.human_attribute_name("cash_bank_bank_account")%> </th>
			<th><%= CashBank::CheckOffered.human_attribute_name("reference")%> </th>
			<th><%= CashBank::CheckOffered.human_attribute_name("amount")%> </th>
			<th><%= CashBank::CheckOffered.human_attribute_name("cash_bank_checkbook")%> </th>
			<th><%= CashBank::CheckOffered.human_attribute_name("responsible")%> </th>
			<th><%= CashBank::CheckOffered.human_attribute_name("beneficiary")%> </th>
			 <th><%= CashBank::BankMovement.human_attribute_name("description")%> </th>
			<th><%= CashBank::CheckOffered.human_attribute_name("date")%> </th>
			<th><%= CashBank::CheckOffered.human_attribute_name("cash_bank_check_status_type")%> </th>
		</tr>
	</thead>
	<tbody>
	  <% @check_offereds.each do |item|  %>
		 <tr class="external-overlay" rel=".overlay" ref="<%#= backend_item_detail_url(item)%>">
			<td class="right"><b><%= item.number%></b></td>
			 <td class="left"><%= item.cash_bank_checkbook.cash_bank_bank_account.cash_bank_bank.name%> </td>
			 <td class="left"><%= item.cash_bank_checkbook.cash_bank_bank_account.fullname%> </td>
			 <td class="left"><%= item.reference.name %></td>
			 <td class="right"><%= number_to_currency(item.amount, :delimiter => ".", :separator => ",", :unit => "")%> </td>
			 <td class="left"><%= item.cash_bank_checkbook.full_name%> </td>
			 <td class="center"><%= item.responsible.name%> </td>
			 <td class="left"><%= item.beneficiary  %> </td>
		  <td class="left"><%= item.reference.description  %> </td>
			 <td class="center"><%= item.date %></td>
			 <td class="left"><%= item.cash_bank_check_status_type.name%> </td>
		  </tr>
		<% end %>
	</tbody>
</table>




<script type="text/javascript">
  var oTable;

  $(document).ready(function() {
		oTable =  $('#items').dataTable({
				scrollX: true,
            oLanguage: {
                sUrl: "/javascripts/i18n/jquery.DataTables-es.txt"
            }
        });


		 $("a.external-overlay").overlay({
		  mask: {
					 color: '#000',
					 loadSpeed: 200,
					 opacity: 0.9
		  },
		  onBeforeLoad: function() {
				var wrap = this.getOverlay().find(".contentWrap");
				wrap.load(this.getTrigger().attr("href"));
		  }
		});
  });



</script>