<% amount_total = 0 %>
<p><b class="border-bottom">Arqueo de caja</b></p>
		<div>
		  <% @consolidate_count_positions.each do |measure_change_type_id,measure_change_type_name|  %>

			 <div class="<%= cycle("c50l","c50r") %>  subc">
			 <table>
				<thead>
				  <tr>
					 <th colspan="3"><%= measure_change_type_name[:name] %> </th>
				  </tr>

				</thead>
				<tbody>
				  <tr>
					 <td class="center">
						Denominación
					 </td>
					 <td class="center">
						Cantidad
					 </td>
					 <td class="center">
						Total
					 </td>
				  </tr>
				<% measure_change_type_name[:denominations].each do |denomination_id,denomination_value| %>
				  <tr>
					 <td class="center">
						<%= denomination_value[:name] %>
					 </td>
					 <td class="center">
						<%= denomination_value[:quantity] %>
					 </td>
					 <td class="right">
						<%= number_to_currency(denomination_value[:total_amount], :delimiter => ".", :separator => ",", :unit => "") %>
						<% amount_total += denomination_value[:total_amount] %>
					 </td>
				  </tr>
				  <% end %>
				</tbody>
			 </table>
		  </div>
		  <% end %>
		  <div class="right" style="margin-right: 8px">
				<p>
					 <i>Total: </i>
					 <b><%= number_to_currency(amount_total, :delimiter => ".", :separator => ",", :unit => "") %></b>
				<br/>
				  <i>Diferencia: </i>
				  <b class="<%= @cash_bank_cash_count_movement.diference_amount_cash >= 0 ? "green" : "red" %>"><%= number_to_currency(@cash_bank_cash_count_movement.diference_amount_cash, :delimiter => ".", :separator => ",", :unit => "") %></b>
				</p>

				  <i>Ventas por caja <%= @daily_cash_closing.cash_bank_cash.name %> : </i>
				  <b class=""><%= number_to_currency(@daily_cash_closing.total_amount_cash_fiscal, :delimiter => ".", :separator => ",", :unit => "") %></b>
				<br/>
				  <i>Ventas por Forma Libre:</i>
				  <b class=""><%= number_to_currency(@daily_cash_closing.total_amount_cash_free_form, :delimiter => ".", :separator => ",", :unit => "") %></b>
				<br/>
				  <i>Anticipos por ordenes:</i>
				  <b class=""><%= number_to_currency(@daily_cash_closing.total_order_amount_cash_with_advance_payment, :delimiter => ".", :separator => ",", :unit => "") %></b>
				
		  </div>
		</div>
