<fieldset class="border">
  <hr/>
  <legend>Componentes Adicionales</legend>


    <table>
      <thead>
        <tr>
          
          <th>
				<%= AdditionalComponentType.human_attribute_name("name") %>
			 </th>
			 <th>
				<%= AdditionalComponentType.human_attribute_name("quantity") %>
			 </th>
			 <th>
				<%= AdditionalComponentType.human_attribute_name("amount_per_square_meter") %>
			 </th>
			 <th>
				<%= AdditionalComponentType.human_attribute_name("side_dimension_x") %>
			 </th>
			 <th>
				<%= AdditionalComponentType.human_attribute_name("side_dimension_y") %>
			 </th>
			 <th>
				<%= AdditionalComponentType.human_attribute_name("name") %>
			 </th>

        </tr>
      </thead>
      <tbody class="">

      </tbody>
    </table>
  <br/>
</fieldset>