<style type="text/css">
  div.overlay {
	 width: 600px;
}


#parameters_criterion select{
  width: 80%;
  padding: 3px;
}

#parameters_criterion input{
  max-width: 74%;
  border: 1px solid #C2C2C2;
  padding: 4px;
}


</style>

<div class="headerWrap">
    <div class="headerWrapContent">
    <h2>Busqueda de ventas por criterio</h2>
    </div>
  </div>
<% form_tag process_sales_by_criterion_backend_financial_management_sales_ledgers_url,:id => "parameters_criterion_form" do %>
  <div id="parameters_criterion" class="mainWrapContent">

	 <div>
		<div class="subc c33l">
		  <p>
			 <label>
				<%= Product.human_attribute_name("finished_product_category_type")%>
			 </label><br/>
			 <%= select(:sale, :finished_product_category_type,  options_from_collection_for_select(@finished_product_category_types, "id","name"),{:prompt => "-- Todos --"}) %>
		  </p>
		</div>
		<div class="subc c33l">

		</div>
		<div class="subc c30r">
		  <p>
			 <label>
				<%= Product.human_attribute_name("name")%>
			 </label><br/>
			 <%= select(:sale, :product,  options_from_collection_for_select(@products, "id","name"),{:prompt => "-- Todos --"}) %>
		  </p>
		</div>
	 </div>
	 <hr/>
	 <div>
		<div class="subc c25l">
		
		</div>
		<div class="subc c50l">
		  <p>
			 <label>
				<%= Invoice.human_attribute_name("date")%>
			 </label><br/>
			 <%= text_field(:sale, :date_from,:size => 8,:class => "datepicker",:value => Date.today.at_beginning_of_month.to_s ) %> <%= text_field(:sale, :date_to,:size => 8,:class => "datepicker",:value => Date.today.end_of_month.to_s) %>
		  </p>
		</div>

	 </div>
  </div>
<% end %>
  <div class="footerWrap">
    <div class="footerWrapContent right">
      <%= button_to_function("Buscar", "$(\"#parameters_criterion_form\").submit()")  %>
    </div>
  </div>

<script type="text/javascript">
  function action_after_complete_for_supplier(item){
    switch (item.code_response) {
        case ("ok"):
				 $("#bank_movement_beneficiary").val(item.supplier_id)
		 break;
        case ("no-ok"):
            alert('no-ok');
            break;
        /*default:
            alert('problemas buscando');*/
    }
  }
	$(document).ready(function(){
                $("button, input:submit,input:button,a.button ").button();
					 $(".datepicker").datepicker({
						changeMonth: true,
						dateFormat: 'yy-mm-dd',
						minDate: "-365",
						maxDate: "+0",
						yearRange: 'c-80:c+30'
					 }).attr("readonly",true);

					 $("#beneficiary_name").autocomplete({
					  source: "<%= autocomplete_by_supplier_name_backend_contacts_url %>",
					  minLength: 3,
					  search: function( event, ui ) {
						$("#bank_movement_beneficiary").val("0")
					  },
					  select: function( event, ui ) {
						 if(ui.item)
							 action_after_complete_for_supplier(ui.item);
					  }
				  });



		  });
</script>