<%= include_javascript("jquery.dataTables.min.js") %>
<%= include_stylesheet("jquery.datatable.css") %>

<%
  total = 0
  sub_total_amount = 0
  tax = 0
  operation = 0
%>
<div class="actionsBar right no-print">
  <%= link_to(image_tag("icons/arrow_left.png"),backend_financial_management_sales_ledgers_url,:class => "button",:title =>"Regresar") %>
  |
   <%= link_to(image_tag("icons/printer.png"),backend_financial_management_sales_ledger_url(@month_date,"pdf"),:class => "button",:title =>"Imprimir") %>
</div>
<div class="">
  <div class=" left">
     <p>
				<%
					 supplier_owner = Supplier.find_owner
					 contact = supplier_owner.contact
				  %>
				<b><%= supplier_owner.name.upcase %></b><br/>
				R.I.F.: <%= supplier_owner.identification_document.upcase %><br/>
				Teléfono: <%= contact.phone %><br/>
				Dirección: <%= contact.address %><br/>
     </p>
  </div>
  <div class=" center">
	 <p>
		<b>LIBRO DE VENTAS DEL  <%= @period %> </b> <br/>
		
	 </p>
  </div>
  <div>

	 <hr/>
	 <div id="detail_daily_cash_closing">



	 <div>
		<table cellpadding="0" cellspacing="0" border="0" class="display" id="sales_ledgers" width="100%">
			<thead>
				<tr>
                                         <th>Operaci&oacute;n Nro</th>
                                         <th>Fecha de la Factura</th>
                                         <th>Numero Factura</th>
                                         <th>Numero Control</th>
                                         <th>Nombre o Razon Social</th>
                                         <th>R.I.F.</th>
                                         <th>Nro. N/Cred</th>
                                         <th>Nro. N/Deb</th>
                                         <th>Nro. Factura Afectada</th>
                                         <th>Tipo Transacci&oacute;n</th>
                                         <th>Total ventas incluyendo IVA</th>
                                         
                                         <th style="width: 50px">Ventas internas no gravadas Contribuyentes</th>
					 <th style="width: 50px">Base imponible Contribuyentes</th>
					 <th style="width: 40px">% Alicuota Contribuyentes</th>
					 <th style="width: 40px">Impuesto IVA Contribuyentes</th>

                                          <th style="width: 50px">Ventas internas no gravadas No Contribuyentes</th>
					 <th style="width: 50px">Base imponible No Contribuyentes</th>
					 <th style="width: 40px">% Alicuota No Contribuyentes</th>
					 <th style="width: 40px">Impuesto IVA No Contribuyentes</th>
                                         <th>Fecha de retención</th>
                                         <th>Comprobante de retención</th>
				</tr>
			</thead>
			<tbody>
			  <% @invoices.each do |invoice|  %>
				 <tr>
					<td class="center"><%=  format_code(operation+=1,"05")%></td>
					<td class="left"><%=  l invoice.created_at,:format => :default_date%> </td>
                                        <td class="left"><%=  format_code(invoice.id,"04")%></td>
					<td class="center">00-<%=  format_code(invoice.id,"04")%></td>
					<td class="left"><%= invoice.total.zero? ? "ANULADA" :  invoice.client.name%> </td>
                                        <td class="left"><%= invoice.total.zero? ? "" :  invoice.client.identification_document%> </td>
					 <td class="left"></td>
					 <td class="left"></td>
					 <td class="left"></td>
					 <td class="center">01-REG</td>
					 <td class="right"><%= number_to_currency(invoice.total, :delimiter => ".", :separator => ",", :unit => "")%>  </td>

					 <td class="right"><%= number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%></td>
					 <td class="right"><%= number_to_currency(invoice.sub_total, :delimiter => ".", :separator => ",", :unit => "")%>  </td>
					 <td class="right"><%= number_to_currency(AppConfig.tax, :delimiter => ".", :separator => ",", :unit => "")%>  </td>
					 <td class="right"><%= number_to_currency(invoice.tax, :delimiter => ".", :separator => ",", :unit => "")%>  </td>

                                         <td class="right"><%= number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%></td>
					 <td class="right"><%= number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>  </td>
					 <td class="right"><%= number_to_currency(AppConfig.tax, :delimiter => ".", :separator => ",", :unit => "")%>  </td>
					 <td class="right"><%= number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>  </td>

                                         <td class="right"></td>
                                         <td class="right"></td>
					<% 
						total += invoice.total
						sub_total_amount += invoice.sub_total
						tax +=  invoice.tax
				  %>

				  </tr>
				<% end %>

			</tbody>
			<tfoot>
				  <tr class="">
					 <td class="right border-top" colspan="11"><%=   number_to_currency(total, :delimiter => ".", :separator => ",", :unit => "")%>  </td>
					 <td class="right border-top"><%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%></td>
					 <td class="right border-top"><%=   number_to_currency(sub_total_amount, :delimiter => ".", :separator => ",", :unit => "")%>  </td>
					 <td class="right border-top"></td>
					 <td class="right border-top"><%=   number_to_currency(tax, :delimiter => ".", :separator => ",", :unit => "")%>  </td>

                                         <td class="right border-top"><%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%></td>
					 <td class="right border-top"><%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>  </td>
					 <td class="right border-top"></td>
					 <td class="right border-top"><%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>  </td>

                                         <td class="right border-top">-</td>
					 <td class="right border-top no-border-bottom">-</td>
				  </tr>
			</tfoot>
		  </table>
	 </div>
<br/>
<br/>
		<div>
		  <div class="c37l subc">
			 <%= image_tag "logos/General/logo_seniat.png"%>
		  </div>
		  <div class="c62r subc">
			 			 <table id="fiscal_sumary">
				<tbody>
				  <tr class="first">
					 <td>

					 </td>
                                        <td class="center">
						Base imponible
					 </td>
					 <td class="center">
						Débito fiscal
					 </td>

				  </tr>
				  <tr>
					 <td>
						<b>Resumen libro de ventas</b>:
					 </td>
					 <td class="right">
						<%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>
					 </td>
					 <td class="right">
						<%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>
					 </td>

				  </tr>
				  <tr>
					 <td>
						Ventas internas no gravadas:
					 </td>
					 <td class="right">
						<%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>
					 </td>
					 <td class="right">
						<%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>
					 </td>
				  </tr>
				  <tr>
					 <td>
						Ventas de exportación:
					 </td>
					 <td class="right">
						 <%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>
					 </td>
					 <td class="right">
						<%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>
					 </td>
				  </tr>
				  <tr>
					 <td>
						Ventas internas gravadas por Alícuota General:
					 </td>
					 <td class="right">
						 <%=   number_to_currency(sub_total_amount, :delimiter => ".", :separator => ",", :unit => "")%>
					 </td>
					 <td class="right">
						<%=   number_to_currency(tax, :delimiter => ".", :separator => ",", :unit => "")%>
					 </td>
				  </tr>
				  <tr>
					 <td>
						Ventas internas gravadas por Alícuota General más Alicuota Adicional:
					 </td>
					 <td class="right">
						 <%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>
					 </td>
					 <td class="right">
						<%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>
					 </td>
				  </tr>
				  <tr>
					 <td>
						Ventas internas gravadas por Alícuota Reducida:
					 </td>
					 <td class="right">
						 <%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>
					 </td>
					 <td class="right">
						<%=   number_to_currency(0, :delimiter => ".", :separator => ",", :unit => "")%>
					 </td>
				  </tr>
				  <tr class="">
					 <td>
						Total Ventas y Débitos Fiscales para efectos de Determinación:
					 </td>
					 <td class="right">
						  <b><%=   number_to_currency(sub_total_amount, :delimiter => ".", :separator => ",", :unit => "")%></b>
					 </td>
					 <td class="right">
						 <b><%=   number_to_currency(tax, :delimiter => ".", :separator => ",", :unit => "")%></b>
					 </td>
				  </tr>
				</tbody>
			 </table>
		  </div>
		</div>
	 </div>





	 </div>

          <hr/>
  </div>

<div class="actionsBar right no-print">
  <%#= link_to(image_tag("icons/printer.png"),backend_show_daily_cash_closing_url(@daily_cash_closing,"pdf"),:class => "button") %>
</div>

<script type="text/javascript">
  var oTable;

  $(document).ready(function() {
		oTable =  $('#sales_ledgers').dataTable({
				scrollX: true,
            oLanguage: {
                sUrl: "/javascripts/i18n/jquery.DataTables-es.txt"
            }
        });


  });



</script>