<%= include_javascript("jquery.dataTables.min.js") %>
<%= include_stylesheet("jquery.datatable.css") %>
<div class="actionsBar right no-print">
  <%= link_to(image_tag("icons/arrow_left.png"),backend_cpanel_home_index_url,:class => "button",:title => "Regresar") %>
  |
  <%= link_to(image_tag("icons/add.png"),new_backend_material_management_purchase_order_url,:class => "button") %>
</div>
<hr/>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="concepts" width="100%">
	<thead>
		<tr>
		  <th><%= Material::PurchaseOrder.human_attribute_name("id")%> </th>
			 <th><%= Material::PurchaseOrder.human_attribute_name("supplier")%> </th>

			 <th><%= Material::PurchaseOrder.human_attribute_name("create_by")%> </th>
			 <th><%= Material::PurchaseOrder.human_attribute_name("posting_date")%> </th>
			 <th><%= Material::PurchaseOrder.human_attribute_name("total")%> </th>

		</tr>
	</thead>
	<tbody>
	  <% @purchase_orders.each do |purchase_order|  %>

          <tr class="external-overlay" rel=".overlay" ref=""  onclick="window.location.href='<%= backend_material_management_purchase_order_url(purchase_order) %>'">
				<td class="left"><%= purchase_order.id.to_code%> </td>
				<td class="left"><%= purchase_order.supplier.name%> </td>
				<td class="center"><%= purchase_order.create_by.name%> </td>
				<td class="center"><%= purchase_order.posting_date %></td>
				<td class="right"><%= number_to_currency(purchase_order.total, :delimiter => ".", :separator => ",", :unit => "Bs") %></td>
		  </tr>
		<% end %>
	</tbody>
</table>




<script type="text/javascript">
  var oTable;

  $(document).ready(function() {
		oTable =  $('#concepts').dataTable({
            oLanguage: {
                sUrl: "/javascripts/i18n/jquery.DataTables-es.txt"
            }
        });
  });

</script>