<div class="actionsBar right no-print">
  <%= link_to(image_tag("icons/arrow_left.png"),backend_material_management_quotation_requisitions_url,:class => "button",:title => "Regresar") %>
    |
	 <%= link_to(image_tag("icons/pencil.png"),edit_backend_material_management_quotation_requisition_url(@quotation_requisition),:class => "button",:title => "Editar") %>
	 <% if @quotation_requisition.can_select_best_supplier? %>
		|
	 <%= link_to(image_tag("icons/star.png"),backend_material_management_quotation_requisition_select_best_supplier_url(@quotation_requisition),:class => "button",:title => "Seleccionar mejor proveedor") %>
   <% end %>
		|
		<%= link_to(image_tag("icons/printer.png"),backend_material_management_quotation_requisition_url(@quotation_requisition,"pdf"),:class => "button",:title => "Imprimir cotizacion") %>
</div>
<div>
  <% semantic_form_remote_for @quotation_requisition, :update => "#{controller.controller_name}_container",:url => backend_material_management_quotation_requisitions_url,:html => {:class => "form_generate"} do |f| %>
        <%= render :partial => "form",:locals => {:f => f} %>
    <hr/>
  <% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
                $(".material_quotation_requisition input, .material_quotation_requisition select, .material_quotation_requisition textarea").attr("disabled","disabled")
	});
</script>